{% extends "base.html" %}
{% block content %}
<div class="menu-bg">
    <div class="container">
        <center><h2>Welcome to 5GKAM Cafe!</h2></center>
        <div class="row">
            <div class="column">
                <img src="/image/chocolate.jpg" alt="chocolate"/>
                <center><p>Chocolate</p></center>
                <center><p>HKD 20</P></center>
            </div>
            <div class="column">
                <img src="/image/coffee.jpg" alt="coffee" />
                <center><p>Coffee</p></center>
                <center><p>HKD 15</P></center>
            </div>
            <div class="column">
                <img src="/image/horlick.jpg" alt="horlick" />
                <center><p>Horlick</p></center>
                <center><p>HKD 20</P></center>
            </div>
        </div>
        
        <h4>
        Welcome to Kams' Cafe, we are here to provide the best coffee in town and located in City University. Our main objective on this website is providing a self-serve ordering service for the customers. 
        </h4>
        
    </div>
</div>

{% endblock %}
