{% extends "base.html" %}
{% block content %}
<div class="container-fluid text-center offset-5">
    <div class="row">
    <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail">
        <a href="lemontea.html"> 
		<img src="/image/lemontea.jpg" class="img-rounded" alt="lemon tea">
        <p>Lemon Tea</p>
        </a>
         <p>HKD 15</p>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail">
        <a href="lemonade.htm"> 
		<img src="/image/lemonade.jpg"  class="img-rounded" alt="lemonade">
        <p>Lemonade</p>
        </a>
         <p>HKD 20</p>
      </div>
    </div>
    </div>

  
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail">
      	<a href="milktea.html">
        <img src="/image/milktea.jpg" class="img-rounded" alt="milk tea" >
        <p>Milk Tea</p>
        </a>
        <p>HKD 15</p>

      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail justify-content-center">
        <a href="coffee.html">
        <img src="/image/coffee.jpg" class="img-rounded" alt="coffee">
        <p>Coffee</p>
        </a>
        <p>HKD 15</p>
       </div>
    </div>
    </div>
   
   <div class="row">
    <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail justify-content-center">
      	<a href="horlick.html">
        <img src="/image/horlick.jpg" class="img-rounded" alt="horlick">
        <p>Horlick</p>
        </a>
        <p>HKD 20</p>
      </div>
    </div>
       <div class="col-xs-6 col-xs-offset-3" >
      <div class="thumbnail">
      	<a href="chocolate.html">
        <img src="/image/chocolate.jpg" class="img-rounded" alt="Chocolate">
        <p>Chocolate</p>
        </a>
        <p>HKD 20</p>
      </div>
    </div>

  </div>
   </div>
   

{% endblock %}
